*{
    margin: 0;
    padding: 0;

}

/*  ========== logo and name design ========= */
#main-logo-design{
   margin-top: -8px;

}
.project-logo-image-1{
   width: 30px;
    height: 10vh;
    margin-left: 11px;

 
  }


  #logo-name-and-page-logo-1
  {
   
    
      color:red;
      text-transform: inherit;
      font-family: Arial, Helvetica, sans-serif;
      font-variant: small-caps;
  
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 35px;
  
  }
  
  .logo-name-1
  { 
      color: rgba(9, 255, 222, 0.596);
      text-decoration: none;
      margin-left: 40px;
      position: absolute;
      top: 8px;
      left: -3px;
  
  }
  
  
  
  #logo-name-and-page-logo-2
  {
   
  color: rgba(255, 0, 0, 0.781);
  font-family: Arial, Helvetica, sans-serif;
  font: 200;
  font-size: 20px;
 
  
  }
  
  .logo-name-2{
      color: rgba(255, 0, 0, 0.781); 
      text-decoration: none;
     position: absolute;
     top: 30px;
     left: 60px;
  }


  .welcome-text{
    float: right;
    margin-top: -40px;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }



  /* ===== navbar design ======= */
/*   
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    margin-left: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  li a:hover {
    background-color: rgb(192, 19, 100);
  } */



  


  /* ===== navbar design ======= */
  
  

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  margin-left:20px ;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(192, 19, 100);
  cursor: pointer;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


  /* ========= logout btn ==== */

#logout-btn{
float: right;
margin-right: 40px;
margin-top: -44px;
border-radius: 5px;
padding: 8px;
cursor: pointer;

}
#logout-btn a{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
 

}


/*     ===========================   */
#dashboard-page-design{
  width: 20%;
  background-color:hwb(290 25% 11% / 0.644);
  height: 85vh;
  margin-top: 5px;
  margin-left: 3px;
  border-radius: 10px;
}
h4{
  
  text-align: center;
  font-size: 25px;
  /* color: rgb(23, 96, 231); */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: italic;
  background-color: rgba(238, 11, 208, 0.651);
  border-radius: 20px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

#Admin-Image{
  position:absolute;
  top: 24%;
  left:6%;
  object-fit: cover;
  border-radius: 50%;
}
#admin-deatils{
 position:absolute;
 top: 37%;
 left: 1%;
 
}
.h3{
  color: rgba(7, 11, 243, 0.781);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding:  0 -9px;
  background-color: white;
  border-radius: 20px;
  width: 60%;
  padding-left: 2px;
}

.h5{
  color: white;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 200;
  background-color: rgba(255, 0, 0, 0.767);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;

}



/* ===== =======  Footer Details Start  ======= ======  */

#footer-details-insert-section-1{

  background-color: #333333de;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 110%;
  }

  /* footer section -1  */

  .footer-sec-1-text-heding-and-sub-heding{
      position: absolute;
    
      left: 40%;
      top: -1%;
  }
  .-foot-sec-1-text-heading-1{
     margin-top: 50px;
      font-size: 35px;
      letter-spacing: 2px;
      color: #F6B042;
  }
  .-foot-sec-1-text-heading-2{
      margin-top: -40px;
      margin-left: 36px;
       font-size: 35px;
       letter-spacing: 2px;
       color:red;
   }
  .-foot-sec-1-text-sub-heding{
   
      font-size: 10px;
       margin-top: -9px;
       margin-left: 12px;
       color: white;
       letter-spacing: 1px;
       
      
  }
.-foot-navbar-content-main{
 position: absolute;
 top:65%;
 left: 35%;
 color:white;
 display: flex;
 word-spacing: 1px;
  }

.-foot-navbar-content-main a{
text-decoration: none;
margin: 2px;
color: white;
font-size: 17px;

  }

.-foot-navbar-content-main a:hover{
color: red;
font-size: 20px;
  }


.-foot-sec-1-logo-image{
      position: absolute;
      top: 30%;
      left:-33%;
      width: 50px;
      height: 90px;
   }




  /*  footer section -2 deatails */
#footer-details-insert-section-2{
  background-color: rgb(34, 34, 34);
  position: absolute;
  top: 80%;
  width: 100%;
  height: 8vh;
  
}
.copyright-and-website-update-details{
  color: white;
  font-size: 11px;
  margin-left: 40%;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
  
.Developer-info-details{
  margin-left: 41%;
  margin-top: 7px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 12px;
}

.-web-update-details-provide{
   margin-top: -15px;
   color:white;
   margin-left: 5px;
}

.contact-email-website-provide{
  float: right;
  margin-top: -15px;
  color: white;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


/*  ====== time show funcation insert in web css ========= */



.current-time-text-show{
  position: absolute;
  top: 70%;
  left: .3%;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
}

.clock {
  position: absolute;
  top: 73%;
  left: 11.5%;
  
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3px;
}